AI Document OCR & Data Extraction Workflow.json
{
  "name": "AI Document OCR & Data Extraction Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "File",
        "formDescription": "Your form submitted successfully",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -528,
        -16
      ],
      "id": "9bcc9145-1288-48e0-b03f-d5e0c48ddde2",
      "name": "On form submission",
      "webhookId": "70213322-a623-46f7-ae04-3fba5315c90a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fGKm2UZmEx044gOBWoELx2noWfdN4VTf"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -16
      ],
      "id": "d033d6fe-e04c-41ef-aaca-65ae1e1a4a98",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer fGKm2UZmEx044gOBWoELx2noWfdN4VTf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -16
      ],
      "id": "cbff59a4-4e2c-4778-9c4b-9a81b4ffb981",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fGKm2UZmEx044gOBWoELx2noWfdN4VTf"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        -16
      ],
      "id": "65fcef88-5269-4e41-a0ee-8384e757c2f4",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "text": "={{ $json.pages[0].markdown }}",
        "attributes": {
          "attributes": [
            {
              "name": "invoice number",
              "description": "invoice number"
            },
            {
              "name": "Total due",
              "description": "Total due"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        144,
        -112
      ],
      "id": "2ffca535-c499-4b55-9e2a-f0032685ea12",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        112
      ],
      "id": "ead283d9-0bb8-4fdd-a8e1-385e7dcb9777",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "j7RtQmslBuFw46Er",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "details of invoice",
        "message": "=Subject: Invoice Details Found  Hey sir, We have found the details of the invoice you provided. Here are the details:  Invoice Number: {{ $json.output['invoice number']}}   Total Due : [{{ $json.output['Total due'] }}]  Please let me know if you need anything else.  Regards, Usman Farooq",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        -112
      ],
      "id": "2d9b48b1-40a9-4592-88ec-13262f97bec5",
      "name": "Send a message",
      "webhookId": "9098bac9-24b3-49c7-81c4-8cec3aa5eb65",
      "credentials": {
        "gmailOAuth2": {
          "id": "cjEzDy6wPlqVorPt",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3161ec9-d521-4a4d-b812-91cc30303199",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "286018914b254c6ab70ce057423ed50b43d87e04a535e4e9663de7a0cb63efa6"
  },
  "id": "Uon3W6lLkEJ3zedI",
  "tags": []
}